.experience-wrap{

}
.experience-wrap .col-1{
    width: 30rem;
    margin: auto;
}
.experience-wrap .col-1 h1{
    text-align: center;
}
.experience-wrap .col-2 .col-2-row{
    width: 400px;
    text-align: center;
}


.experience-wrap .media{
    position: relative;
    margin-top: 7rem;
}
.experience-wrap .media .front-img{
    position: absolute;
    left: 41%;
    top: 15%;
}  
.experience-wrap .title{
    margin: 20px 0;
    color: black;
}
.experience-wrap .col-2{
    display: flex;
    justify-content: space-around;
}