.footer-wrap{
    background-color: #081630;
    color: #fff;
    padding-bottom: 40px;

}
.footer-wrap .col-1{
    display: flex;
    justify-content: space-around;
    padding:120px 0 10px 0 ;
}
.footer-wrap .col-1 h4{
    font-family: 'DM Serif Display', serif;
    font-size: 28px;
    padding-bottom: 20px;
}
.footer-wrap .col-1 p{
    font-size: 20px;
    padding-bottom: 10px;
}
.footer-wrap .container .line{
    border: 1px solid #fff;
   
}
.footer-wrap .col-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}
.footer-wrap .col-2 img{
    margin-left: 20px;
}