.brand-wrap{
    margin-bottom: 100px;
}
.brand-wrap .col-1{
    text-align: center;
}
.brand-wrap .col-2 .row{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C4C4C4;
    border-radius: 14px;
    width: 220px;
    height: 55px;
    margin-left: 4%;
}
.brand-wrap .col-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 50px 0;
}
.brand-wrap .col-3 a{
    border-bottom: 3px solid #F1BC00;
    padding-bottom: 10px;
}

.brand-wrap .col-3 a:hover{
    border-bottom: 5px solid #F1BC00;
    padding-bottom: 10px;
}
.brand-wrap .col-3{
    text-align: center;

}