* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1316px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    color: rgba(0, 0, 0, 0.66);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1 {
    color: #000;
    font-family: 'DM Serif Display', serif;
    font-size: 45px;
}

h2 {
    color: #081630;
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
}

h3 {

    font-family: 'DM Serif Display', serif;
    font-size: 34px;
}

h4 {
    font-family: 'DM Serif Display', serif;
    font-size: 28px;
}

p {
    font-size: 24px;
}